.Contenedor {
    display: grid;
    width: 250px;
    height: auto;
    grid-template: 300px repeat(2, 1fr)/ 1fr;
    text-align-last: center;
    border-style: ridge;
}


.Cabecera {
    width: 100%;
    position: relative;
}

.Cabecera:hover h2 {
    transition: opacity 1s;
    opacity: 1;
}

.Arte {
    width: 100%;
    height: 100%;
}

.Valoracion {
    color: red;
    position: absolute;
    opacity: .2;
    width: inherit;
    top: 40%;
    text-align: center;
    transition: opacity .3s;
}

.Cuerpo {
    border-style: ridge;
}

.Pie {
    border-style: ridge;
}